<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="so_arm101">
  <xacro:arg
    name="ros2_control_file"
    default="$(find so_arm101_description)/control/so_arm101.ros2_control.xacro"
  />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="color" default="0.2 0.7 0.85 1.0" />

  <!-- The SO-ARM101 robot --> 
  <link name="world" />
  <xacro:include filename="$(find so_arm101_description)/urdf/so_arm101_macro.xacro" />
  <xacro:so_arm101 prefix="$(arg prefix)" color="$(arg color)" />

  <!-- Overhead camera link -->
  <link name="camera_color_mujoco_frame"/>
  <joint name="camera_color_mujoco_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_color_mujoco_frame"/>
    <origin xyz="0.0 0.0 0.5" rpy="0 2.356 0.0"/>
  </joint>

  <!-- ros2_control information including camera sensor -->
  <ros2_control name="MujocoSystem" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
      <param name="mujoco_model">$(find pai_bringup)/mjcf/scene.xml</param>
      <param name="sim_speed_factor">1.0</param>
      <param name="camera_publish_rate">10.0</param>
    </hardware>

    <joint name="$(arg prefix)shoulder_pan_joint">
      <param name="initial_position">0.0</param>
      <param name="id">1</param>
      <param name="p_cofficient">8</param>
      <param name="offset">2048</param>
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="$(arg prefix)shoulder_lift_joint">
      <param name="id">2</param>
      <param name="p_cofficient">16</param>
      <param name="offset">2125</param>
      <param name="initial_position">0.0</param>
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="$(arg prefix)elbow_flex_joint">
      <param name="id">3</param>
      <param name="offset">2080</param>
      <param name="p_cofficient">16</param>
      <param name="initial_position">0.0</param>
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="$(arg prefix)wrist_flex_joint">
      <param name="id">4</param>
      <param name="offset">3110</param>
      <param name="p_cofficient">16</param>
      <param name="initial_position">0.0</param>
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="$(arg prefix)wrist_roll_joint">
      <param name="id">5</param>
      <param name="offset">1024</param>
      <param name="p_cofficient">16</param>
      <param name="initial_position">0.0</param>
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="$(arg prefix)gripper_joint">
      <param name="id">6</param>
      <param name="offset">2070</param>
      <param name="p_cofficient">16</param>
      <param name="initial_position">0.0</param>
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <!-- Camera informatiom -->
    <sensor name="camera">
      <param name="frame_name">camera_color_mujoco_frame</param>
      <param name="info_topic">/camera/info</param>
      <param name="image_topic">/camera</param>
      <param name="depth_topic">/camera/depth</param>
    </sensor>
  </ros2_control>

</robot>
