<?xml version="1.0"?>
<model>
  <name>Tray</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Yadunund Vijay</name>
    <email>yadunund@gmail.com</email>
  </author>

  <description>
    A tray with dimensions 80mm x 60mm x 40mm and wall thickness 3mm.
  </description>
</model>
